<!--The content below is only a placeholder and can be replaced.-->

<div>
    
  Buscar producto por id:
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ID Producto" [(ngModel)]="id_select" name="id_select">
  </mat-form-field><i class="material-icons">
      find_in_page
      </i>
  <div class="button-row">
    <button mat-fab color="warn" (click)="buscarUno()">Buscar</button>
  </div>

  <h1>ID: {{id2}}</h1>
  <h1>Precio: {{price2}}</h1>
  <h1>Descripción: {{description2}}</h1>

  <br><br><br>

  <div>

    <div class="button-row">
      <button mat-raised-button color="warn" (click)="buscarTodo()">Consultar Todo</button><i class="material-icons">
          find_in_page
          </i>
    </div>
    <table style="width:60%">
      <tr>
        <td style="border: 1px solid rgb(12, 15, 172);">ID</td>
        <td style="border: 1px solid rgb(12, 15, 172);;">Precio</td>
        <td style="border: 1px solid rgb(12, 15, 172);;">Producto</td>
      </tr>
      <tr>
        <td>{{id}}</td>
        <td>{{price}}</td>
        <td>{{description}}</td>
      </tr>
    </table>
  </div>
</div>